page-login {
  .logo {
    width: 60vw;
  }

  .title {
    text-align: center;
    font-size: 5vw;
  }

  .login-btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 10vw;
  }

  .forgot-pwd {
    text-align: center;
    text-decoration: underline;
  }
}
