page-reset-pwd {
  .reset-title {
    text-align: center;
    font-size: 4.5vw;
    padding: 16px;
  }

  .reset-btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 10vw;

    .btn-icon {
      font-size: 25px;
    }
  }
}
