<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button class="navbar-button" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <button class="navbar-button" ion-button clear (click)="showPopOver($event)">
        <p>{{ pageTitle }}</p>
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-title>

    <ion-buttons right>
      <button class="navbar-button" ion-button icon-only (click)="goToSavedItems()">
        <ion-icon name="md-heart-outline"></ion-icon>
      </button>

      <button class="navbar-button" ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="homeSegment">
      <ion-segment-button value="home">
        HOME
      </ion-segment-button>

      <ion-segment-button value="categories">
        CATEGORIES
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="homeSegment">
    <div *ngSwitchCase="'home'">
      <ion-row>
        <button class="freeDeliveryReturns" ion-button full>
          <p>Free delivery and returns</p>
        </button>
      </ion-row>

      <!-- SALE -->
      <ion-row *ngIf="isMenSelected" style="margin-top: 20px;" (click)="goToProducts()">
        <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404384/sale-50off-men.png">
      </ion-row>

      <ion-row *ngIf="!isMenSelected" style="margin-top: 20px;" (click)="goToProducts()">
        <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404962/50-off-women.png">
      </ion-row>

      <!-- Main Category -->
      <ion-row *ngIf="isMenSelected" style="margin-top: 20px;" (click)="goToProducts()">
        <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404384/autumn-essentials-men.png">
      </ion-row>

      <ion-row *ngIf="!isMenSelected" style="margin-top: 20px;" (click)="goToProducts()">
        <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404962/autumn-essentials-women.png">
      </ion-row>

      <!-- Men categories -->
      <ion-row *ngIf="isMenSelected" style="margin-top: 30px;">
        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404384/new-trend-men.png">
          <p class="item-title">NEW TREND</p>
          <p class="item-subtitle">Real smart sportswear</p>
        </ion-col>

        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404384/new-season-boots-men.png">
          <p class="item-title">NEW-SEASON BOOTS</p>
          <p class="item-subtitle">Walk a little wilder</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isMenSelected" style="margin-top: 30px;">
        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404487/seoul-brands-men.png">
          <p class="item-title">SEOUL BRANDS</p>
          <p class="item-subtitle">Check the freshest gear from South Korea</p>
        </ion-col>

        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404384/t-shirts-men.png">
          <p class="item-title">T-SHIRTS</p>
          <p class="item-subtitle">They've got your back</p>
        </ion-col>
      </ion-row>

      <!-- Women categories -->
      <ion-row *ngIf="!isMenSelected" style="margin-top: 30px;">
        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404961/tea-dresses.png">
          <p class="item-title">TREND: TEA DRESSES</p>
          <p class="item-subtitle">Fancy florals, fresh styling</p>
        </ion-col>

        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404961/bigger-boots.png">
          <p class="item-title">BIGGER BOOTS</p>
          <p class="item-subtitle">Coz size does matter</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isMenSelected" style="margin-top: 30px;">
        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404961/south-korean-brands-women.png">
          <p class="item-title">SOUTH KOREAN BRANDS</p>
          <p class="item-subtitle">Meet your style Seoul mates</p>
        </ion-col>

        <ion-col text-center (click)="goToProducts()">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523404962/nude-lingerie.png">
          <p class="item-title">NUDE-LINGERIE</p>
          <p class="item-subtitle">Find your best match</p>
        </ion-col>
      </ion-row>
    </div>

    <div *ngSwitchCase="'categories'">
      <!-- Men categories -->
      <div *ngIf="isMenSelected">
        <ion-card (click)="goToCategory('SALE')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523406575/sale-categories-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('NEW IN')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/new-in-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('CLOTHING')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/clothing-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('SHOES')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407100/shoes-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('ACCESSORIES')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/accessories-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('ACTIVEWEAR')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/activewear-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('FACE + BODY')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/face-body-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('GIFTS')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/gifts-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('BRANDS')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/brands-men.png">
        </ion-card>

        <ion-card (click)="goToCategory('OUTLET')">
          <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407099/outlet-men.png">
        </ion-card>
      </div>

      <!-- Women categories -->
      <div *ngIf="!isMenSelected">
          <ion-card (click)="goToCategory('SALE')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407928/sale-category-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('NEW IN')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407928/new-in-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('CLOTHING')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/clothin-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('SHOES')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407928/shoes-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('ACCESSORIES')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/accessories-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('ACTIVEWEAR')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/activewear-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('FACE + BODY')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/face-body-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('GIFTS')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/gifts-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('BRANDS')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407927/brands-women.png">
          </ion-card>
  
          <ion-card (click)="goToCategory('OUTLET')">
            <img src="https://res.cloudinary.com/cediim8/image/upload/v1523407928/outlet-women.png">
          </ion-card>
        </div>
    </div>
  </div>
</ion-content>