page-form-fill {
  .detail-title {
    text-align: center;
    font-size: 4.5vw;
  }

  .menu-title-icon {
    font-size: 32px;
    padding-right: 5px;
  }

  ion-datetime {
    padding-left: 10px !important;
  }

  ion-select {
    padding: 10px !important;
  }

  .button-div {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }

  .module-btn {
    width: 35%;
    margin: 4%;

    .btn-icon {
      // position: absolute;
      // top: 0;
      // left: 0;
      font-size: 25px;
      // margin: 10px;
    }
  }

  .image {
    width: 80%;
    margin-left: 10%;
  }
}
